
<div class="navcontainer">
    <nav class="navbar">
        <a class="logo" href="/"><img src="img/logo.png" class="logo" alt=""></a>
        <h3 class="title">AZGFD Remote Voltage Monitoring</h3>
        <ul class="links-container">
            <li class="link-item"><a href="/" class="link">Home</a></li>
            <li class="link-item"><a href="/logs" class="link">Logs</a></li>
            <li class="link-item"><a href="/errors" class="link">Errors</a></li>
        </ul>

    </nav>
        <div class="pre-scroll"></div>
        <div class="scroll-progress" id="scroll-progress"></div>
</div>

